<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Openmind</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5"></div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col">
              <div class="col-md-12">
                    <input type="file" id="fileUpload" name="fileUpload" class="form-control" accept=".xls,.xlsx">
              </div>
              <div class="col-md-12 mt-3">
                    <textarea id="msg" name="msg" rows="2" cols="20" class="form-control"></textarea>
              </div>
              <div class="col-md-12 mt-3">
                    <button id="uploadExcel" class="btn btn-primary col-md-12">Upload Data</button>
              </div>
          </div>
          <div class="col">
                <div style="margin-top:10px;">
                    <pre id="jsonData"></pre>
                </div>
          </div>
        </div>
    </div>
      <script src="./js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
      <script>
            var selectedFile;
            document.getElementById("fileUpload").addEventListener("change", function(event) 
            {
                selectedFile = event.target.files[0];
            });
            document.getElementById("uploadExcel").addEventListener("click", function() 
            {
            if (selectedFile) 
            {
              var fileReader = new FileReader();
              fileReader.onload = function(event) 
              {
                var data = event.target.result;
    
                var workbook = XLSX.read(data, {
                  type: "binary"
                });
                workbook.SheetNames.forEach(sheet => {
                  let rowObject = XLSX.utils.sheet_to_row_object_array(
                    workbook.Sheets[sheet]
                  );
                  let jsonObject = JSON.stringify(rowObject);
                  document.getElementById("jsonData").innerHTML = jsonObject;
                //   console.log(jsonObject);
                fetch('http://127.0.0.1:8371/api/file/uploadexceldata', { 
                    method: 'POST',
                    body: jsonObject,
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    }
                }).then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
                });
              };
              fileReader.readAsBinaryString(selectedFile);
            }
          });

      </script>
</body>
</html>